/*GENERAL*/
.panel {
	background-color: white;
	border: 1px solid #3B5998;
	border-radius: 5px;
}

.panel-encase {
	padding: 20px;
}

p {
	font-weight : 600;
}

/*HEADER TAGS*/
h3 {
	text-align: center;
	margin-bottom: 30px;
}
h4 {
	text-align: center;
	margin-bottom: 30px;
}

h2 {
	text-align: center;
	margin-bottom: 30px;
}

/*BUTTONS*/
button{
	outline:none;
}
button:-moz-focus-inner{
	border: 0;
}


/*Football Members*/
.football-members-list {
	list-style: outside none none;
	padding: 0 25px;
}
.football-members-list li.fraier{
	position : relative;
}
/*.football-members-list > li:hover {
	background-color: #f8f8f8;
}*/
.football-member-avatar {
	margin-right: 5px;
	border-radius : 450px;
	width : 40px;
	height : 40px;
}
.football-member-role-text {
	font-weight: 400;
}
.football-member-item {
	display: flex;
	margin-bottom: 15px;
	cursor: pointer;
	position : relative;
}
#member {
	width: 80%;
}
.attenting-status > span{
    top: 11px;
}
a {
	text-decoration: none !important;
	color: black;
}
ul.football-members-list li.fraier:hover a.football-member {
    background-color: #efefef;
    border-right: 10px solid #3B5998;
}

ul.football-members-list li.fraier  a.football-member {
    position: absolute;
    left: -45px;
    right: -45px;
    top: 0;
    bottom: 0;
}   



/*LOCATION*/
#footballLocationDetails {
	margin-top : 30px;
}

/*EVENT CALENDAR*/
#calendar h2 {
	font-size : 20px !important;
}
