/*GENERAL FONT*/
body{
	font-family: 'Exo 2', sans-serif;
	font-weight: 700 !important;
	background-color: #f8f8f8;
}	

/*NAVBAR*/
.navbar-custom{
	background-color : #3B5998;
	font-weight: 900 !important;
}

.navbar a{
	color : white;
}

#loginButton{
	position : relative;
}

/*CALENDAR*/
#calendar .fc-title{
	cursor: pointer;
}

#calendar .fc-event{
	line-height : 2 !important;;
}

#calendar a{
	text-align : center;
	background-color: #3B5998;
}

#calendar{
	margin-bottom : 30px;
}

/*GENERAL MARGINS*/
.generalTopMargin {
	margin-top: 30px;
}
