/*GENERAL FONT*/
body{
	font-family: 'Exo 2', sans-serif;
	font-weight: 700 !important;
	background-color: #f8f8f8;
}	

.panel {
	background-color: white;
	border: 1px solid #3B5998;
	border-radius: 5px;
}

.panel-encase {
	padding: 20px;
}

p {
	font-weight : 600;
}

/*NAVBAR*/
.navbar-custom{
	background-color : #3B5998;
	font-weight: 900 !important;
}

.navbar a{
	color : white;
}

#loginButton{
	position : relative;
}

/*CALENDAR*/
#calendar .fc-title{
	cursor: pointer;
}

#calendar .fc-event{
	line-height : 2 !important;;
}

#calendar a{
	text-align : center;
	background-color: #3B5998;
}
/*GENERAL MARGINS*/
.generalTopMargin {
	margin-top: 30px;
}

.generalBottomMargin {
	margin-bottom: 30px;
}

.noBottomMargin {
	margin-bottom: 0px;
}

/*BUTTON*/
.maxWidthBtn{
	width: 100% !important;
}