<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<!-- build:css(.) styles/vendor.css -->
		<!-- bower:css -->
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css" />
		<link rel="stylesheet" href="bower_components/angular-color-picker/angular-color-picker.css" />
		<!-- endbower -->
		<!-- endbuild -->
		<!-- fonts -->
		<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Exo+2:400,600,700,900' rel='stylesheet' type='text/css'>
		<!-- endfonts -->
		<!-- build:css(.tmp) styles/main.css -->
		<link rel="stylesheet" href="styles/main.css">
		<link rel="stylesheet" href="styles/general.css" />
		<link rel="stylesheet" href="styles/football.css" />
		<link rel="stylesheet" href="styles/login.css" />
		<link rel="stylesheet" href="styles/user.css" />
		<link rel="stylesheet" href="styles/customTheme.css" />
		<!-- endbuild -->
	</head>
	<body ng-app="activeApp">
		<!--[if lte IE 8]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<!-- Add your site or application content here -->
		<div class="header">
			<div class="navbar navbar-custom" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

						<a class="navbar-brand" href="#/">active</a>
					</div>

					<div class="collapse navbar-collapse" id="js-navbar-collapse" ng-controller="MenuCtrl">
						<ul class="nav navbar-nav">
							<li class="active">
								<a href="#/">Home</a>
							</li>
						</ul>
						<ul class="nav navbar-nav pull-right">
							<li ng-show="isLoggedIn">
								<a ng-href="#/user">{{currentUser.username}}</a>
							</li>
							<li ng-show="isLoggedIn">
								<a href="" ng-click="openChat()">Chat</a>
							</li>
							<li ng-show="!isLoggedIn">
								<a href="#/login">Login</a>
							</li>
							<li ng-show="isLoggedIn">
								<a href="#/login" ng-click="logout()">Logout</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div ng-view=""></div>
		</div>

		<div class="footer">
			<div class="container">

			</div>
		</div>

		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
		<!-- <script>
		!function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
		(A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
		r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
		}(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-XXXXX-X');
		ga('send', 'pageview');
		</script> -->

		<!-- Google Maps Api -->
		<script src="http://maps.google.com/maps/api/js?libraries=placeses,visualization,drawing,geometry,places"></script>

		<!-- build:js(.) scripts/vendor.js -->
		<!-- bower:js -->
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/moment/moment.js"></script>
		<script src="bower_components/angular-momentjs/angular-momentjs.js"></script>
		<script src="bower_components/angular-cookies/angular-cookies.js"></script>
		<script src="bower_components/angular-resource/angular-resource.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
		<script src="bower_components/angular-touch/angular-touch.js"></script>
		<script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
		<script src="bower_components/ngmap/build/scripts/ng-map.js"></script>
		<script src="bower_components/fullcalendar/dist/fullcalendar.js"></script>
		<script src="bower_components/angular-color-picker/angular-color-picker.js"></script>
		<!-- endbower -->
		<!-- endbuild -->

		<!-- build:js({.tmp,app}) scripts/scripts.js -->
		<script src="scripts/app.js"></script>

		<!-- controller -->
		<script src="scripts/controllers/main.js"></script>
		<script src="scripts/controllers/about.js"></script>
		<script src="scripts/controllers/football.js"></script>
		<script src="scripts/controllers/tennis.js"></script>
		<script src="scripts/controllers/user.js"></script>
		<script src="scripts/controllers/login.js"></script>
		<script src="scripts/controllers/unauthorized.js"></script>
		<script src="scripts/controllers/menu.js"></script>
		<!-- endcontroller -->
		
		<!-- directive -->
		<script src="scripts/directives/activityLocation.js"></script>
		<!-- enddirective -->

		<!-- resource -->
		<script src="scripts/resources/user.js"></script>
		<script src="scripts/resources/eventAttendance.js"></script>
		<script src="scripts/resources/event.js"></script>
		<script src="scripts/resources/guest.js"></script>
		<script src="scripts/resources/eventLocation.js"></script>
		<!-- endresource -->

		<!-- service -->
		<script src="scripts/services/settings.js"></script>
		<script src="scripts/services/flags.js"></script>
		<script src="scripts/services/dateFormats.js"></script>
		<script src="scripts/services/activityLocations.js"></script>
		<script src="scripts/services/authService.js"></script>
		<script src="scripts/services/menuService.js"></script>
		<script src="scripts/services/fileValidator.js"></script>
		<script src="scripts/services/themeService.js"></script>
		<!-- endservice -->

		<!-- filter -->
		<script src="scripts/filters/status.js"></script>
		<!-- endfilter -->

		<!-- endbuild -->
	</body>
</html>
