<div class="jumbotron col-lg-12 col-md-12 col-sm-12 text-center jumbotron-background-{{selectedActivity}}">
	<img src="images/bale.png"
	class="img-circle img-responsive pull-left"
	alt="Responsive image"
	ng-mouseover="selectedActivity=1"
	ng-mouseleave="selectedActivity=null"
	ng-hide="selectedActivity==2"/>
	<img src="images/roger-federer.png"
	class="img-circle img-responsive pull-right"
	alt="Responsive image"
	ng-mouseover="selectedActivity=2"
	ng-mouseleave="selectedActivity=null"
	ng-hide="selectedActivity==1"/>
	<h3 ng-show="!selectedActivity">CHOOSE ACTIVITY</h3>
	<h2 class="text-right" ng-show="selectedActivity==1">FOOTBALL</h2>
	<h2 class="text-left" ng-show="selectedActivity==2">TENNIS</h2>
</div>